<div>{{data.detailed_description}}</div>
<div>{{data.about_the_game}}</div>
<div>{{data.short_description}}</div>
<div>{{data.supported_languages}}</div>
<div>{{data.header_image}}</div>

<script>

    let div = document.createElement('div');
    div.innerHTML = {{data.detailed_description}};

</script>