<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Home</title>
    <link rel="icon" href="/favicon.ico" type="image/ico">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<svg style="display: none;">
    <symbol id="delete-friend-icon" viewBox="0 0 12 12">
        <path d="M8.61491 6.0213C8.38431 5.91169 8.14902 5.81726 7.90961 5.73816C8.68499 5.15616 9.18749 4.22941 9.18749 3.1875C9.18749 1.42992 7.75759 0 5.99999 0C4.24239 0 2.81249 1.42992 2.81249 3.1875C2.81249 4.23056 3.31612 5.15822 4.09295 5.7401C3.3812 5.97443 2.71335 6.33905 2.12882 6.81984C1.05698 7.70149 0.311733 8.93123 0.0304128 10.2826C-0.057759 10.706 0.0478738 11.1409 0.320171 11.4757C0.591132 11.8089 0.992921 12 1.42248 12H7.1953C7.45419 12 7.66405 11.7901 7.66405 11.5312C7.66405 11.2724 7.45419 11.0625 7.1953 11.0625H1.42248C1.22237 11.0625 1.10165 10.9508 1.04751 10.8842C0.954014 10.7693 0.917827 10.6196 0.948225 10.4736C1.43467 8.13703 3.49567 6.43017 5.87573 6.37261C5.91695 6.3742 5.95837 6.375 5.99999 6.375C6.04202 6.375 6.08385 6.37418 6.12548 6.37256C6.85485 6.38967 7.55634 6.55613 8.21244 6.86803C8.44628 6.97913 8.72589 6.87973 8.83703 6.64589C8.94817 6.41208 8.84875 6.13245 8.61491 6.0213ZM6.11432 5.43462C6.07628 5.43394 6.03817 5.43359 5.99999 5.43359C5.96216 5.43359 5.92434 5.43396 5.88655 5.43466C4.69839 5.37539 3.74999 4.39012 3.74999 3.1875C3.74999 1.94684 4.75933 0.9375 5.99999 0.9375C7.24066 0.9375 8.24999 1.94684 8.24999 3.1875C8.24999 4.38982 7.30206 5.3749 6.11432 5.43462Z"
              fill="#5F1E23"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M11.5312 9.30469H10.2422H9.30469H8.01562C7.75673 9.30469 7.54688 9.51455 7.54688 9.77344C7.54688 10.0323 7.75673 10.2422 8.01562 10.2422H9.30469H10.2422H11.5312C11.7901 10.2422 12 10.0323 12 9.77344C12 9.51455 11.7901 9.30469 11.5312 9.30469Z"
              fill="#5F1E23"/>
    </symbol>
    <symbol id="enter-icon" viewBox="0 0 15 10">
        <path d="M13.4211 0.833333V4.16667H3L5.8421 1.16667L4.73684 0L0 5L4.73684 10L5.8421 8.83333L3 5.83333H15V0.833333H13.4211Z"
              fill="#16242C"/>
    </symbol>
    <symbol id="filters-icon" viewBox="0 0 24 24">
        <path d="M4.22113 18.5601C3.88513 18.5601 3.56213 18.644 3.27557 18.8015C1.76605 16.8664 0.9375 14.4626 0.9375 12C0.9375 5.90002 5.90002 0.9375 12 0.9375C12.7416 0.9375 13.4828 1.01129 14.2031 1.15686C14.4565 1.20813 14.7041 1.04407 14.7554 0.790283C14.8066 0.536499 14.6426 0.289307 14.3888 0.237854C13.6075 0.0800171 12.8038 0 12 0C8.79474 0 5.78119 1.24823 3.51471 3.51471C1.24823 5.78119 0 8.79474 0 12C0 14.6962 0.915527 17.3275 2.58234 19.4368C2.36774 19.7574 2.25238 20.1343 2.25238 20.5289C2.25238 21.0547 2.45728 21.5491 2.82916 21.9208C3.20087 22.2927 3.69525 22.4976 4.22113 22.4976C4.74701 22.4976 5.24139 22.2927 5.61328 21.9208C5.98517 21.5491 6.18988 21.0546 6.18988 20.5287C6.18988 20.003 5.98517 19.5084 5.61328 19.1367C5.24139 18.7648 4.74701 18.5601 4.22113 18.5601ZM4.95026 21.258C4.75562 21.4528 4.49652 21.5601 4.22113 21.5601C3.94574 21.5601 3.68683 21.4528 3.492 21.258C3.29718 21.0632 3.18988 20.8043 3.18988 20.5289C3.18988 20.2533 3.29718 19.9944 3.492 19.7996C3.68665 19.6047 3.94574 19.4976 4.22113 19.4976C4.49652 19.4976 4.75543 19.6049 4.95026 19.7996C5.14508 19.9944 5.25238 20.2533 5.25238 20.5289C5.25238 20.8043 5.14508 21.0632 4.95026 21.258Z"
              fill="white"/>
        <path d="M21.4173 4.56268C21.9269 3.79822 21.8451 2.75305 21.171 2.07904C20.7992 1.70734 20.3048 1.50244 19.7789 1.50244C19.253 1.50244 18.7586 1.70734 18.3867 2.07904C18.0149 2.45093 17.8101 2.94531 17.8101 3.47119C17.8101 3.99707 18.0149 4.49146 18.3867 4.86334C18.7586 5.23523 19.253 5.43994 19.7789 5.43994C20.1149 5.43994 20.4379 5.35608 20.7244 5.19861C22.234 7.13385 23.0625 9.53748 23.0625 12.0001C23.0625 18.1 18.1 23.0626 12 23.0626C11.2658 23.0626 10.5315 22.9902 9.81795 22.8474C9.56417 22.7967 9.31716 22.9613 9.26626 23.2151C9.21554 23.4691 9.38015 23.7159 9.63393 23.7668C10.4079 23.9215 11.2041 24.0001 12 24.0001C15.2053 24.0001 18.2188 22.7518 20.4853 20.4854C22.7518 18.2189 24 15.2053 24 12.0001C24 9.30365 23.0843 6.67224 21.4173 4.56268ZM19.0498 4.2005C18.8549 4.00568 18.7476 3.74677 18.7476 3.47119C18.7476 3.1958 18.8549 2.93689 19.0498 2.74207C19.2444 2.54724 19.5035 2.43994 19.7789 2.43994C20.0543 2.43994 20.3134 2.54724 20.5082 2.74207C20.9101 3.14417 20.9101 3.7984 20.5082 4.2005C20.3134 4.39514 20.0543 4.50244 19.7789 4.50244C19.5033 4.50244 19.2444 4.39514 19.0498 4.2005Z"
              fill="white"/>
        <path d="M10.0657 20.0625C10.0657 20.3214 10.2757 20.5312 10.5344 20.5312H13.4654C13.7243 20.5312 13.9341 20.3214 13.9341 20.0625V19.1537C14.5505 18.9879 15.1397 18.7436 15.6934 18.4246L16.335 19.0662C16.4229 19.1541 16.5421 19.2036 16.6666 19.2036C16.7908 19.2036 16.9102 19.1541 16.998 19.066L19.0697 16.9929C19.2526 16.8098 19.2526 16.513 19.0697 16.3301L18.4288 15.6892C18.7478 15.1355 18.9921 14.5463 19.158 13.9299H20.0632C20.3221 13.9299 20.532 13.7201 20.532 13.4612V10.5302C20.532 10.2713 20.3221 10.0615 20.0632 10.0615H19.1578C18.9919 9.44531 18.7478 8.85608 18.4288 8.30237L19.0662 7.66498C19.1541 7.57709 19.2036 7.4577 19.2036 7.33337C19.2034 7.20905 19.1539 7.08966 19.066 7.00177L16.9927 4.93011C16.8098 4.74719 16.513 4.74719 16.3299 4.9303L15.6934 5.56696C15.1397 5.24799 14.5505 5.00372 13.9341 4.83783V3.9375C13.9341 3.67859 13.7243 3.46875 13.4654 3.46875H10.5344C10.2757 3.46875 10.0657 3.67859 10.0657 3.9375V4.83801C9.44952 5.00372 8.86029 5.24799 8.30658 5.56696L7.66992 4.9303C7.487 4.74738 7.19019 4.74719 7.00708 4.93011L4.93396 7.00195C4.84589 7.08984 4.79645 7.20905 4.79645 7.33337C4.79645 7.4577 4.84589 7.57709 4.93378 7.66498L5.57117 8.30237C5.2522 8.85608 5.00794 9.44513 4.84204 10.0615H3.93842C3.6795 10.0615 3.46967 10.2713 3.46967 10.53L3.46802 13.461C3.46783 13.5853 3.51727 13.7047 3.60516 13.7926C3.69305 13.8805 3.81226 13.9299 3.93677 13.9299H4.84204C5.00794 14.5463 5.2522 15.1355 5.57117 15.6892L4.9303 16.3301C4.74738 16.513 4.74719 16.8098 4.9303 16.9929L7.00195 19.066C7.08984 19.1539 7.20905 19.2036 7.33337 19.2036H7.33356C7.45789 19.2036 7.57709 19.1541 7.66498 19.0662L8.3064 18.4246C8.86029 18.7436 9.44952 18.9879 10.0657 19.1537V20.0625ZM8.49023 17.4388C8.30475 17.3188 8.06067 17.3448 7.9043 17.501L7.33356 18.0718L5.92456 16.6617L6.49475 16.0913C6.65094 15.9351 6.67694 15.691 6.55701 15.5056C6.13202 14.8478 5.83319 14.127 5.66913 13.3627C5.62262 13.1468 5.43182 12.9924 5.21082 12.9924H4.4057L4.4068 10.999H5.21082C5.43182 10.999 5.62262 10.8448 5.66913 10.6287C5.83319 9.86462 6.13202 9.14374 6.55701 8.48602C6.67694 8.30054 6.65094 8.05646 6.49475 7.90027L5.92822 7.33356L7.33832 5.92456L7.9043 6.49072C8.06067 6.64691 8.30457 6.67273 8.49023 6.55298C9.14777 6.12799 9.86865 5.82916 10.6329 5.6651C10.8488 5.61859 11.0032 5.42761 11.0032 5.20679V4.40625H12.9966V5.2066C12.9966 5.42761 13.1508 5.61859 13.3669 5.66492C14.131 5.82916 14.8521 6.12781 15.5096 6.5528C15.6951 6.67273 15.9391 6.64691 16.0953 6.49054L16.6615 5.92456L18.0716 7.33356L17.5051 7.90009C17.3487 8.05646 17.3229 8.30054 17.4428 8.48602C17.8678 9.14374 18.1664 9.86462 18.3307 10.6287C18.377 10.8448 18.568 10.999 18.789 10.999H19.5945V12.9924H18.789C18.568 12.9924 18.3772 13.1468 18.3307 13.3627C18.1666 14.1268 17.8678 14.8478 17.4428 15.5054C17.3229 15.691 17.3489 15.9351 17.5051 16.0913L18.0753 16.6615L16.6663 18.0716L16.0955 17.501C15.9391 17.3447 15.6951 17.3188 15.5096 17.4388C14.8519 17.8638 14.131 18.1624 13.3669 18.3267C13.1508 18.3732 12.9966 18.564 12.9966 18.785V19.5938H11.0032V18.785C11.0032 18.5641 10.8488 18.3732 10.6329 18.3267C9.86884 18.1626 9.14795 17.8638 8.49023 17.4388Z"
              fill="white"/>
        <path d="M15.8732 11.9999C15.8732 9.8642 14.1357 8.12671 11.9999 8.12671C9.8642 8.12671 8.12671 9.8642 8.12671 11.9999C8.12671 14.1357 9.8642 15.8732 11.9999 15.8732C14.1357 15.8732 15.8732 14.1357 15.8732 11.9999ZM9.06421 11.9999C9.06421 10.3811 10.3811 9.06421 11.9999 9.06421C13.6188 9.06421 14.9357 10.3813 14.9357 11.9999C14.9357 13.6186 13.6188 14.9357 11.9999 14.9357C10.3811 14.9357 9.06421 13.6188 9.06421 11.9999Z"
              fill="white"/>
        <path d="M16.3162 1.77277C16.4396 1.77277 16.5604 1.7226 16.6476 1.63544C16.7347 1.54773 16.7849 1.42688 16.7849 1.30347C16.7849 1.18079 16.7349 1.05975 16.6476 0.972046C16.5604 0.884888 16.4396 0.834717 16.3162 0.834717C16.1924 0.834717 16.0721 0.884888 15.9849 0.972046C15.8976 1.05975 15.8474 1.18024 15.8474 1.30347C15.8474 1.42725 15.8976 1.54773 15.9849 1.63544C16.0721 1.7226 16.1924 1.77277 16.3162 1.77277Z"
              fill="white"/>
        <path d="M7.70435 22.2356C7.58112 22.2356 7.46008 22.2858 7.37292 22.3729C7.28577 22.4601 7.2356 22.5811 7.2356 22.7043C7.2356 22.8281 7.28577 22.9486 7.37292 23.0358C7.46008 23.1229 7.58112 23.1731 7.70435 23.1731C7.82758 23.1731 7.94861 23.1229 8.03577 23.0358C8.12292 22.9486 8.1731 22.8276 8.1731 22.7043C8.1731 22.5811 8.12292 22.4601 8.03577 22.3729C7.94861 22.2858 7.82758 22.2356 7.70435 22.2356Z"
              fill="white"/>
    </symbol>
    <symbol id="login-icon" viewBox="0 0 85 85">
        <g filter="url(#filter0_d)">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M52.5127 42.5L30.95 31.2598L30.95 53.7402L52.5127 42.5ZM57.3077 46.7104C60.8974 44.8391 60.8974 40.1609 57.3077 38.2896L33.0769 25.6586C29.4872 23.7873 25 26.1264 25 29.8689L25 55.1311C25 58.8736 29.4872 61.2127 33.0769 59.3414L57.3077 46.7104Z"
                  fill="#FCFF53"/>
        </g>

    </symbol>
    <symbol id="logo-icon" viewBox="0 0 66 35">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M33.0524 9.87191L28.4171 18.764H37.6876L33.0524 9.87191ZM34.7886 7.89456C34.0169 6.41422 32.0878 6.41422 31.3161 7.89456L26.1073 17.8869C25.3356 19.3672 26.3002 21.2176 27.8436 21.2176H38.2612C39.8045 21.2176 40.7691 19.3672 39.9974 17.8869L34.7886 7.89456Z"
              fill="#53FFCB"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M49.9393 18.13L45.3041 9.23797H54.5746L49.9393 18.13ZM51.6756 20.1074C50.9039 21.5877 48.9747 21.5877 48.2031 20.1074L42.9942 10.1151C42.2226 8.63473 43.1872 6.7843 44.7305 6.7843L55.1481 6.7843C56.6915 6.7843 57.6561 8.63473 56.8844 10.1151L51.6756 20.1074Z"
              fill="#53FFCB"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M11.3457 14.001L2.45367 9.36571L2.45367 18.6362L11.3457 14.001ZM13.3231 15.7372C14.8034 14.9656 14.8034 13.0364 13.3231 12.2647L3.33077 7.05589C1.85043 6.28422 5.79065e-07 7.24881 5.04347e-07 8.79216L0 19.2098C0 20.7531 1.85043 21.7177 3.33077 20.946L13.3231 15.7372Z"
              fill="#FCFF53"/>
        <path d="M18.5848 28.3769C18.5399 28.3769 18.3977 28.9363 18.1583 30.0552C17.9238 31.1741 17.8066 31.8515 17.8066 32.0873C17.8066 32.4988 17.849 32.7873 17.9338 32.9529C18.0236 33.1134 18.1683 33.1937 18.3678 33.1937C18.6471 33.1937 18.914 33.146 19.1683 33.0507C19.4277 32.9503 19.7669 32.7296 20.1859 32.3884C20.4453 32.1726 20.6647 32.0647 20.8443 32.0647C20.989 32.0647 21.1037 32.1074 21.1885 32.1927C21.2783 32.273 21.3232 32.3683 21.3232 32.4787C21.3232 32.9202 20.969 33.422 20.2607 33.984C19.5524 34.5409 18.8042 34.8194 18.0161 34.8194C17.3577 34.8194 16.8539 34.6237 16.5048 34.2323C16.1606 33.841 15.9885 33.279 15.9885 32.5464C15.9885 31.8691 16.2404 30.5168 16.7442 28.4898C16.425 28.5249 16.203 28.5424 16.0783 28.5424H15.9212C15.6917 28.5424 15.4573 28.4672 15.2179 28.3167C14.9834 28.1661 14.8662 27.9253 14.8662 27.5941C14.8662 27.1727 15.1031 26.9619 15.577 26.9619L17.1781 26.9017C17.9145 24.175 17.4642 25.8357 17.825 24.4105C18.1279 22.945 18.3004 23.5977 18.7942 23.5977C19.0686 23.5977 19.2831 23.683 19.4377 23.8536C19.5923 24.0191 19.6696 24.2048 19.6696 24.4105C19.6696 24.4908 19.4576 25.266 19.0337 26.7361C20.6198 26.5956 21.4903 26.5254 21.6449 26.5254C21.9092 26.5254 22.0838 26.5655 22.1686 26.6458C22.2534 26.7211 22.2958 26.8691 22.2958 27.0899C22.2958 27.5364 21.9192 27.8199 21.166 27.9403L18.5848 28.3769Z"
              fill="white"/>
        <path d="M30.1474 31.8992C30.1474 32.421 29.7109 33.0457 28.838 33.7732C27.9652 34.4957 26.98 34.857 25.8827 34.857C25.0397 34.857 24.3763 34.5911 23.8925 34.0592C23.4086 33.5223 23.1667 32.7772 23.1667 31.8239C23.1667 30.419 23.6605 29.1019 24.6481 27.8726C25.6358 26.6433 26.6907 26.0287 27.813 26.0287C28.3717 26.0287 28.8206 26.2068 29.1598 26.563C29.499 26.9193 29.6685 27.3433 29.6685 27.835C29.6685 28.708 29.252 29.5409 28.4191 30.3337C27.5861 31.1215 26.5186 31.6659 25.2168 31.9669C25.0671 32.002 24.9923 32.0923 24.9923 32.2379C24.9923 32.4787 25.0971 32.7095 25.3066 32.9303C25.521 33.146 25.8054 33.2539 26.1595 33.2539C27.1621 33.2539 28.1572 32.7346 29.1448 31.696C29.3344 31.4953 29.5189 31.3949 29.6985 31.3949C29.9978 31.3949 30.1474 31.563 30.1474 31.8992ZM25.127 30.567C25.9151 30.4065 26.6084 30.0678 27.207 29.551C27.8105 29.0342 28.1123 28.565 28.1123 28.1436C28.1123 27.978 28.0649 27.84 27.9701 27.7296C27.8804 27.6142 27.7631 27.5565 27.6185 27.5565C27.1845 27.5565 26.7032 27.8776 26.1745 28.5199C25.6457 29.1621 25.2966 29.8445 25.127 30.567Z"
              fill="white"/>
        <path d="M34.0335 30.7552L34.1607 30.5143C34.7643 29.2951 35.4127 28.3066 36.106 27.549C36.8044 26.7863 37.4852 26.405 38.1486 26.405C38.6574 26.405 39.0714 26.5455 39.3906 26.8265C39.7148 27.1074 39.877 27.4411 39.877 27.8274C39.877 28.0683 39.8221 28.2765 39.7123 28.4521C39.6026 28.6227 39.4505 28.708 39.2559 28.708C38.9467 28.708 38.6649 28.5801 38.4105 28.3242C38.2309 28.1586 38.0888 28.0758 37.984 28.0758C37.6099 28.0758 36.9839 28.6604 36.106 29.8294C35.2282 30.9985 34.6994 32.3131 34.5199 33.7732C34.465 34.1947 34.3428 34.4882 34.1532 34.6538C33.9637 34.8244 33.7068 34.9097 33.3826 34.9097C33.0384 34.9097 32.794 34.714 32.6494 34.3226C32.5047 33.9263 32.4324 33.2815 32.4324 32.3884C32.4324 32.0221 32.4424 31.5279 32.4623 30.9057C32.4823 30.3186 32.5396 29.6011 32.6344 28.7532C32.6593 28.5324 32.6768 28.3593 32.6868 28.2339C32.7317 27.7421 32.7815 27.406 32.8364 27.2253C32.8963 27.0397 33.0309 26.8666 33.2404 26.706C33.4499 26.5455 33.6819 26.4652 33.9363 26.4652C34.2056 26.4652 34.4101 26.543 34.5498 26.6985C34.6894 26.854 34.7593 27.0246 34.7593 27.2103C34.7593 27.4461 34.6471 27.9353 34.4226 28.6779C34.3428 28.9338 34.2754 29.2399 34.2206 29.5961L34.0335 30.7552Z"
              fill="white"/>
        <path d="M47.4816 31.8992C47.4816 32.421 47.0452 33.0457 46.1723 33.7732C45.2994 34.4957 44.3143 34.857 43.2169 34.857C42.3739 34.857 41.7105 34.5911 41.2267 34.0592C40.7429 33.5223 40.5009 32.7772 40.5009 31.8239C40.5009 30.419 40.9948 29.1019 41.9824 27.8726C42.97 26.6433 44.025 26.0287 45.1472 26.0287C45.7059 26.0287 46.1548 26.2068 46.494 26.563C46.8332 26.9193 47.0028 27.3433 47.0028 27.835C47.0028 28.708 46.5863 29.5409 45.7533 30.3337C44.9203 31.1215 43.8529 31.6659 42.551 31.9669C42.4014 32.002 42.3265 32.0923 42.3265 32.2379C42.3265 32.4787 42.4313 32.7095 42.6408 32.9303C42.8553 33.146 43.1396 33.2539 43.4937 33.2539C44.4963 33.2539 45.4914 32.7346 46.479 31.696C46.6686 31.4953 46.8531 31.3949 47.0327 31.3949C47.332 31.3949 47.4816 31.563 47.4816 31.8992ZM42.4612 30.567C43.2493 30.4065 43.9427 30.0678 44.5412 29.551C45.1448 29.0342 45.4465 28.565 45.4465 28.1436C45.4465 27.978 45.3991 27.84 45.3044 27.7296C45.2146 27.6142 45.0974 27.5565 44.9527 27.5565C44.5188 27.5565 44.0374 27.8776 43.5087 28.5199C42.98 29.1621 42.6308 29.8445 42.4612 30.567Z"
              fill="white"/>
        <path d="M53.0213 32.5765C53.0013 32.3056 52.5724 31.9744 51.7344 31.5831C50.7069 31.0863 50.0509 30.6598 49.7666 30.3036C49.4823 29.9423 49.3401 29.551 49.3401 29.1295C49.3401 28.2414 49.834 27.4662 50.8216 26.8039C51.8142 26.1365 52.7395 25.8029 53.5974 25.8029C54.4404 25.8029 54.8618 26.1717 54.8618 26.9092C54.8618 27.1049 54.7646 27.2805 54.57 27.4361C54.3805 27.5916 54.2184 27.6694 54.0837 27.6694C54.0289 27.6694 53.9316 27.6343 53.7919 27.564C53.6523 27.4938 53.545 27.4587 53.4702 27.4587C53.0263 27.4587 52.5374 27.6092 52.0037 27.9102C51.47 28.2113 51.2032 28.5625 51.2032 28.9639C51.2032 29.1596 51.2979 29.3503 51.4875 29.5359C51.677 29.7165 52.0636 29.9448 52.6472 30.2208C53.5101 30.6322 54.0787 31.0035 54.3531 31.3347C54.6274 31.6659 54.7646 32.0321 54.7646 32.4335C54.7646 33.1661 54.2708 33.7782 53.2831 34.27C52.3005 34.7567 51.1957 35 49.9686 35C49.0658 35 48.6144 34.6714 48.6144 34.0141C48.6144 33.7732 48.7092 33.5675 48.8987 33.3969C49.0883 33.2263 49.3002 33.141 49.5347 33.141C49.6295 33.141 49.7766 33.1761 49.9761 33.2464C50.1756 33.3216 50.3602 33.3593 50.5298 33.3593C50.9987 33.3593 51.49 33.284 52.0037 33.1335C52.5175 32.983 52.8567 32.7973 53.0213 32.5765Z"
              fill="white"/>
        <path d="M17.825 24.4105C18.1279 22.945 18.3004 23.5977 18.7942 23.5977C19.0686 23.5977 19.2831 23.683 19.4377 23.8536C19.5923 24.0191 19.6696 24.2048 19.6696 24.4105C22.1787 12.9466 23.9414 4.72772 24.3922 1.15389C24.6481 0.0713255 23.0932 -0.6503 22.7324 0.865188L17.825 24.4105Z"
              fill="white"/>
        <path d="M59.8643 28.5212C59.8194 28.5212 59.6772 29.0806 59.4378 30.1995C59.2034 31.3184 59.0862 31.9958 59.0862 32.2316C59.0862 32.6431 59.1286 32.9316 59.2134 33.0971C59.3031 33.2577 59.4478 33.338 59.6473 33.338C59.9266 33.338 60.1935 33.2903 60.4479 33.195C60.7073 33.0946 61.0464 32.8739 61.4654 32.5327C61.7248 32.3169 61.9443 32.209 62.1238 32.209C62.2685 32.209 62.3832 32.2517 62.468 32.337C62.5578 32.4173 62.6027 32.5126 62.6027 32.623C62.6027 33.0645 62.2485 33.5663 61.5403 34.1282C60.832 34.6852 60.0838 34.9637 59.2957 34.9637C58.6372 34.9637 58.1335 34.768 57.7843 34.3766C57.4401 33.9852 57.268 33.4233 57.268 32.6907C57.268 32.0134 57.5199 30.6611 58.0237 28.634C57.7045 28.6692 57.4825 28.6867 57.3578 28.6867H57.2007C56.9713 28.6867 56.7368 28.6115 56.4974 28.4609C56.263 28.3104 56.1458 28.0696 56.1458 27.7384C56.1458 27.3169 56.3827 27.1062 56.8565 27.1062L58.4577 27.046C59.194 24.3193 58.7438 25.9799 59.1046 24.5548C59.4075 23.0893 59.58 23.742 60.0738 23.742C60.3481 23.742 60.5626 23.8273 60.7172 23.9979C60.8719 24.1634 60.9492 24.3491 60.9492 24.5548C60.9492 24.6351 60.7372 25.4103 60.3132 26.8804C61.8994 26.7399 62.7698 26.6697 62.9244 26.6697C63.1888 26.6697 63.3634 26.7098 63.4482 26.7901C63.533 26.8654 63.5754 27.0134 63.5754 27.2342C63.5754 27.6807 63.1988 27.9642 62.4456 28.0846L59.8643 28.5212Z"
              fill="white"/>
        <path d="M59.1046 24.5548C59.4075 23.0893 59.58 23.742 60.0738 23.742C60.3481 23.742 60.5626 23.8273 60.7172 23.9979C60.8719 24.1634 60.9492 24.3491 60.9492 24.5548C63.4582 13.0909 65.221 4.87201 65.6717 1.29818C65.9277 0.215613 64.3727 -0.506013 64.0119 1.00948L59.1046 24.5548Z"
              fill="white"/>
    </symbol>
    <symbol id="ls-icon" viewBox="0 0 12 12">
        <path d="M10.1417 1.85565C9.03367 0.747685 7.5637 0.137931 5.99705 0.137931C4.43041 0.137931 2.96044 0.747685 1.85238 1.85565C-0.289359 3.99723 -0.438091 7.42524 1.48303 9.73784C1.29464 10.1171 0.992216 10.5583 0.543541 10.7789C0.327879 10.8855 0.206415 11.116 0.243598 11.3539C0.280781 11.5919 0.464217 11.7778 0.702188 11.815C0.813738 11.8323 0.972385 11.8497 1.16574 11.8497C1.68382 11.8497 2.44731 11.7282 3.22816 11.1656C4.09824 11.634 5.05013 11.8621 5.99458 11.8621C7.51164 11.8621 9.01384 11.2746 10.1442 10.1443C11.2523 9.03638 11.8621 7.56652 11.8621 6C11.8621 4.43348 11.2498 2.96362 10.1417 1.85565ZM9.66826 9.67092C7.99502 11.344 5.4046 11.6762 3.36697 10.479C3.23311 10.3996 3.06703 10.4244 2.96044 10.531C2.95052 10.536 2.94061 10.5434 2.93317 10.5508C2.2614 11.0714 1.60202 11.1804 1.16574 11.1804H1.16326C1.66647 10.8136 1.98376 10.2683 2.16968 9.84443C2.19943 9.77254 2.20438 9.69818 2.18703 9.62878C2.17959 9.56186 2.15233 9.49493 2.10523 9.4404C0.290696 7.39054 0.384893 4.26741 2.32337 2.32908C4.34861 0.304003 7.64302 0.304003 9.66578 2.32908C11.6935 4.35416 11.6935 7.64584 9.66826 9.67092Z"
              fill="#AEB4B7"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M0.543541 10.7789C0.992216 10.5583 1.29464 10.1171 1.48303 9.73784C-0.438091 7.42524 -0.289359 3.99723 1.85238 1.85565C2.96044 0.747685 4.43041 0.137931 5.99705 0.137931C7.5637 0.137931 9.03367 0.747685 10.1417 1.85565C11.2498 2.96362 11.8621 4.43348 11.8621 6C11.8621 7.56652 11.2523 9.03638 10.1442 10.1443C9.01384 11.2746 7.51164 11.8621 5.99458 11.8621C5.05013 11.8621 4.09824 11.634 3.22816 11.1656C2.44731 11.7282 1.68382 11.8497 1.16574 11.8497C0.972385 11.8497 0.813738 11.8323 0.702188 11.815C0.464217 11.7778 0.280781 11.5919 0.243598 11.3539C0.206415 11.116 0.327879 10.8855 0.543541 10.7789ZM3.23844 11.3271C2.45355 11.868 1.69009 11.9876 1.16574 11.9876C0.964169 11.9876 0.798353 11.9695 0.680986 11.9513C0.382899 11.9047 0.153615 11.6716 0.10731 11.3752C0.0606964 11.0769 0.213454 10.7882 0.482421 10.6552C0.861552 10.4688 1.13491 10.1029 1.31908 9.75526C-0.586459 7.38921 -0.415623 3.92842 1.75484 1.75812C2.88873 0.624329 4.39376 0 5.99705 0C7.60034 0 9.10538 0.624329 10.2393 1.75812C11.373 2.89181 12 4.39668 12 6C12 7.60316 11.3756 9.10809 10.2417 10.2419C9.08475 11.3988 7.54714 12 5.99457 12C5.05522 12 4.10852 11.7796 3.23844 11.3271ZM2.16968 9.84443C2.00682 10.2157 1.74313 10.6802 1.34197 11.0363C1.28594 11.086 1.22723 11.1337 1.16574 11.1786C1.16491 11.1792 1.16409 11.1798 1.16326 11.1804H1.16574C1.23752 11.1804 1.31534 11.1775 1.39826 11.1702C1.81933 11.1334 2.37192 10.9857 2.93317 10.5508C2.94061 10.5434 2.95052 10.536 2.96044 10.531C3.06703 10.4244 3.23311 10.3996 3.36697 10.479C5.4046 11.6762 7.99502 11.344 9.66826 9.67092C11.6935 7.64584 11.6935 4.35416 9.66578 2.32908C7.64302 0.304003 4.34861 0.304003 2.32337 2.32908C0.384893 4.26741 0.290696 7.39054 2.10523 9.4404C2.15233 9.49493 2.17959 9.56186 2.18703 9.62878C2.20438 9.69818 2.19943 9.77254 2.16968 9.84443ZM2.32302 9.60436C2.31126 9.5143 2.27373 9.42447 2.20963 9.35025L2.20852 9.34898C0.442334 7.35373 0.533985 4.31339 2.42091 2.42661C4.39231 0.455367 7.59934 0.455453 9.56818 2.42655C11.542 4.39776 11.5421 7.60218 9.57072 9.57339C7.94189 11.2021 5.42041 11.5253 3.43708 10.3602C3.25312 10.2513 3.02673 10.2817 2.87665 10.4203C2.86442 10.4282 2.85321 10.4369 2.84335 10.4459C2.38698 10.7981 1.93843 10.9512 1.56938 11.0102C1.9156 10.6577 2.14799 10.2373 2.296 9.89983L2.29714 9.89716C2.33671 9.80154 2.34503 9.70034 2.32302 9.60436Z"
              fill="#AEB4B7"/>
        <path d="M5.99705 6.41146C6.22431 6.41146 6.40854 6.22724 6.40854 6C6.40854 5.77276 6.22431 5.58854 5.99705 5.58854C5.76979 5.58854 5.58556 5.77276 5.58556 6C5.58556 6.22724 5.76979 6.41146 5.99705 6.41146Z"
              fill="#AEB4B7"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M6.54649 6C6.54649 6.30342 6.3005 6.54939 5.99705 6.54939C5.69361 6.54939 5.44762 6.30342 5.44762 6C5.44762 5.69658 5.69361 5.45061 5.99705 5.45061C6.3005 5.45061 6.54649 5.69658 6.54649 6ZM6.40854 6C6.40854 6.22724 6.22431 6.41146 5.99705 6.41146C5.76979 6.41146 5.58556 6.22724 5.58556 6C5.58556 5.77276 5.76979 5.58854 5.99705 5.58854C6.22431 5.58854 6.40854 5.77276 6.40854 6Z"
              fill="#AEB4B7"/>
        <path d="M8.11896 6.41146C8.34622 6.41146 8.53045 6.22724 8.53045 6C8.53045 5.77276 8.34622 5.58854 8.11896 5.58854C7.8917 5.58854 7.70747 5.77276 7.70747 6C7.70747 6.22724 7.8917 6.41146 8.11896 6.41146Z"
              fill="#AEB4B7"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.66839 6C8.66839 6.30342 8.4224 6.54939 8.11896 6.54939C7.81552 6.54939 7.56953 6.30342 7.56953 6C7.56953 5.69658 7.81552 5.45061 8.11896 5.45061C8.4224 5.45061 8.66839 5.69658 8.66839 6ZM8.53045 6C8.53045 6.22724 8.34622 6.41146 8.11896 6.41146C7.8917 6.41146 7.70747 6.22724 7.70747 6C7.70747 5.77276 7.8917 5.58854 8.11896 5.58854C8.34622 5.58854 8.53045 5.77276 8.53045 6Z"
              fill="#AEB4B7"/>
        <path d="M3.87514 6.41146C4.10241 6.41146 4.28664 6.22724 4.28664 6C4.28664 5.77276 4.10241 5.58854 3.87514 5.58854C3.64788 5.58854 3.46365 5.77276 3.46365 6C3.46365 6.22724 3.64788 6.41146 3.87514 6.41146Z"
              fill="#AEB4B7"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M4.42458 6C4.42458 6.30342 4.17859 6.54939 3.87514 6.54939C3.5717 6.54939 3.32571 6.30342 3.32571 6C3.32571 5.69658 3.5717 5.45061 3.87514 5.45061C4.17859 5.45061 4.42458 5.69658 4.42458 6ZM4.28664 6C4.28664 6.22724 4.10241 6.41146 3.87514 6.41146C3.64788 6.41146 3.46365 6.22724 3.46365 6C3.46365 5.77276 3.64788 5.58854 3.87514 5.58854C4.10241 5.58854 4.28664 5.77276 4.28664 6Z"
              fill="#AEB4B7"/>
    </symbol>
    <symbol id="profile-icon" viewBox="0 0 23 25">
        <path d="M11.7719 12.5C8.38002 12.5 5.62034 9.74037 5.62034 6.3484C5.62034 2.95644 8.38002 0.19685 11.7719 0.19685C15.1639 0.19685 17.9235 2.95648 17.9235 6.34845C17.9235 9.74041 15.1639 12.5 11.7719 12.5ZM11.7719 1.73476C9.22782 1.73476 7.15826 3.80428 7.15826 6.34845C7.15826 8.89261 9.22778 10.9621 11.7719 10.9621C14.3161 10.9621 16.3856 8.89257 16.3856 6.34845C16.3856 3.80433 14.3161 1.73476 11.7719 1.73476Z"
              fill="#DCDEDF"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M11.7719 12.6968C8.2713 12.6968 5.42349 9.84908 5.42349 6.3484C5.42349 2.84772 8.27131 0 11.7719 0C15.2726 0 18.1204 2.84776 18.1204 6.34845C18.1204 9.84913 15.2726 12.6968 11.7719 12.6968ZM11.7719 1.93161C9.33654 1.93161 7.35511 3.913 7.35511 6.34845C7.35511 8.78389 9.33649 10.7653 11.7719 10.7653C14.2074 10.7653 16.1888 8.78385 16.1888 6.34845C16.1888 3.91304 14.2073 1.93161 11.7719 1.93161ZM5.62034 6.3484C5.62034 9.74037 8.38002 12.5 11.7719 12.5C15.1639 12.5 17.9235 9.74041 17.9235 6.34845C17.9235 2.95648 15.1639 0.19685 11.7719 0.19685C8.38002 0.19685 5.62034 2.95644 5.62034 6.3484ZM7.15826 6.34845C7.15826 3.80428 9.22782 1.73476 11.7719 1.73476C14.3161 1.73476 16.3856 3.80433 16.3856 6.34845C16.3856 8.89257 14.3161 10.9621 11.7719 10.9621C9.22778 10.9621 7.15826 8.89261 7.15826 6.34845Z"
              fill="#DCDEDF"/>
        <path d="M21.7682 24.8031H1.77562C1.35058 24.8031 1.00666 24.4592 1.00666 24.0342V18.7409C1.00666 17.9464 1.41291 17.2 2.06623 16.7915C7.84082 13.1893 15.7083 13.19 21.4769 16.7907C22.1309 17.2 22.5372 17.9464 22.5372 18.7409V24.0341C22.5372 24.4592 22.1933 24.8031 21.7682 24.8031ZM2.54457 23.2653H20.9993V18.7409C20.9993 18.4729 20.8702 18.225 20.6621 18.0952C15.3824 14.7994 8.16523 14.7971 2.88103 18.0959C2.67378 18.2251 2.54462 18.4729 2.54462 18.741L2.54457 23.2653Z"
              fill="#DCDEDF"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M21.5811 16.6238C15.7487 12.9832 7.80038 12.9825 1.96204 16.6245C1.24917 17.0702 0.809814 17.881 0.809814 18.7409V24.0342C0.809814 24.5679 1.24186 25 1.77562 25H21.7682C22.302 25 22.7341 24.568 22.7341 24.0341V18.7409C22.7341 17.8809 22.2946 17.0702 21.5811 16.6238ZM20.9993 23.2653V23.0684H20.8025H2.74143H2.54457V23.2653H20.9993ZM1.00666 18.7409C1.00666 17.9464 1.41291 17.2 2.06623 16.7915C7.84082 13.1893 15.7083 13.19 21.4769 16.7907C22.1309 17.2 22.5372 17.9464 22.5372 18.7409V24.0341C22.5372 24.4592 22.1933 24.8031 21.7682 24.8031H1.77562C1.35058 24.8031 1.00666 24.4592 1.00666 24.0342V18.7409Z"
              fill="#DCDEDF"/>
    </symbol>

</svg>

<section class="home-page">
    <section class="container">

        {{>header}}

        {{>gameslist}}

        {{>blocks}}

        {{>profile}}

    </section>
</section>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/js/script.js"></script>
<script src="/js/renders.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/changeTemplate.js"></script>
<script src="/js/searchGame.js"></script>
<script>
    $(function () {

        const socket = io('https://myappest.herokuapp.com/'); // http://localhost:3000

        const gamesList = document.querySelector('.games-list');
        const noticesList = document.querySelector('.notices-list');
        const friendsList = document.querySelector('.friends-list');

        const userIcon = '{{userIcon}}';
        const userID = '{{userID}}';
        let userName = '{{userName}}';

        window.chat(userID, userName);
        window.renders(userName);

        let games = window.parseData('{{gamesList}}');
        console.log(games);
        if (games) games.forEach((game) => renderGame(game.name, gamesList, game.iconURL, game.gameID));
        window.searchGame(userName, games, userIcon);

        let notices = window.parseData('{{notices}}');
        if (notices) {
            notices.forEach((notice) => {
                let item = document.createElement('p');
                item.innerText = notice.content;

                item.addEventListener('click', () => {
                    socket.emit('addToFriend', {user: userName, content: notice.content, type: notice.type});
                });

                noticesList.appendChild(item);
            })
        }

        let friends = window.parseData('{{friends}}');
        if (friends) friends.forEach((friend) => window.renderFriend(friend.name, friendsList, friend.icon));

        socket.emit('join', {userID, userName, room: 'world'}, (error) => {
            if (error) {
                alert(error);
            }
        });

        socket.on('roomData', (data) => {
            window.renderUsers(data.users, userName);
        });

        socket.on('message', (data) => {
            window.renderMessage(data);
        });

        socket.on('notice', (notices) => {
            console.log('notices');
            console.log(notices.notices);
            notices.notices.forEach((notice) => {
                let message = document.createElement('p');
                message.innerHTML = notice.content;
                noticesList.appendChild(message);
            });
        });

        socket.on('getMessages', (data) => {
            if (data) {
                console.log(data);

                let messages = [].concat(data.messages, data.messagesFriend);

                messages.sort((prev, next) => prev.time - next.time);

                messages.forEach((msg) => {
                    window.renderPersonal(msg, document.querySelector('#messages-personal'));
                });
            }
        });

        let rooms = '{{rooms}}';
        if (rooms) {
            rooms = rooms.replace(/&#x27;/g, "'");
            rooms = rooms.replace(/&quot;/g, '"');
            rooms = JSON.parse(rooms);
            console.log(rooms);

            rooms.forEach((room) => {
                if (room.username !== userName) {
                    window.renderGame(room._id, roomsList)
                }
            });

            selectRoom(roomsList, rooms);
        }

        window.changeTemplate({{searching}});

        function selectRoom(roomsParent, rooms) {
            let roomsList = roomsParent.querySelectorAll('p');

            roomsList.forEach((room) => room.addEventListener('click', function () {
                console.log(this.innerText);
                rooms.forEach((roomsItem) => {
                    if (roomsItem._id === this.innerText) changeRoom(userID, userName, roomsItem._id);
                })
            }));
        }

        function changeRoom(userID, userName, id) {
            socket.emit('join', {userID, userName, room: id}, (error) => {
                if (error) {
                    alert(error);
                }
            });
        }

        function changeRoomTemplate(room, users) {
            room.innerHTML = '';
            users.forEach((user) => {
                renderGame(user.userName, room);
            })
        }

        window.tabulation(document.querySelectorAll('.tab-chat'), document.querySelectorAll('.chat-content .messages'))
    });
</script>
</body>
</html>