<div>{{room}}</div>

<div>{{name}}</div>

<div class="users"></div>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io('https://myappest.herokuapp.com/'); // http://localhost:3000

    let usersList = document.querySelector('.users');

    function renderUsers(users) {
        usersList.innerHTML = '';
        for(let i = 0; i < users.length; i++) {
            let item = document.createElement('p');
            item.innerHTML = users[i].userName;
            usersList.appendChild(item);
        }
    }

    const userName = '{{userName}}';
    const name = '{{name}}';
    const room = '{{room}}';

    socket.emit('join', { userName, name, room }, (error) => {
          if(error) {
            alert(error);
          }
        });

    socket.on('roomData', (data) => {
      console.log(data);
      renderUsers(data.users);
    });

</script>